@import url("reset.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --brand-color: #2196f3;
}

/* GLOBAL CLASSES */

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  font-size: 14px;
  color: #212121;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

/* HEADER */

.header {
  border: 1px solid #ececec;
  padding: 25px 0;
  font-weight: 500;
}

.header-container {
  display: flex;
  align-items: center;
}

/* .header-logo {} */

.header-menu {
  display: flex;
  gap: 50px;
  margin-left: 90px;
  position: relative;
}

.header-menu li {
  position: relative;
}

.header-menu li a {
  display: block;
}

.header-menu li:hover .second-menu {
	display: block;
}

.header-menu li a.active {
  color: var(--brand-color);
}

.second-menu {
  position: absolute;
  top: 100;
  left: -50%;
  display: none;
  background: #fff;
  border-radius: 4px;
  min-width: 180px;
  padding: 10px 0 0;
  z-index: 5;
}

.second-menu li a {
  display: block;
  padding: 10px 20px;
}

.second-menu li a:hover {
  background: #f5f4fa;
  border-radius: 4px;
}

.second-menu li a {
  position: relative;
}

.third-menu {
  position: absolute;
  top: 0;
  right: 100%;
  display: none;
  background: #fff;
  border-radius: 4px;
  min-width: 180px;
  z-index: 10;
}

.third-menu li a{
  display: block;
}

.third-menu li a:hover {
  background: #f5f4fa;
  border-radius: 4px;
}

.second-menu li:hover .third-menu {
  display: block;
}


.header-second-menu {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.header-menu li a,
.header-second-menu a,
.portfolio-menu a {
  color: #212121;
  text-decoration: none;
}

.header-menu li a:hover,
.header-second-menu a:hover {
  color: var(--brand-color);
}

/* HERO SECTION */

.hero {
  height: 600px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hero-background.jpg') no-repeat center/cover;
  text-align: center;
}

.hero-inner {
  max-width: 700px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;
}

.hero-btn {
  padding: 14px 46px 15px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: var(--brand-color);
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

/* ABOUT */

.about {
  background: #ffffff;
  padding: 94px 0 40px;
}

.about > .container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about-block {
  flex: 1 1 20%;
}

.about-block:nth-child(1) {
  padding-top: 120px;
  position: relative;
}

.about-block:nth-child(1)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  height: 120px;
  background: #F5F4FA url('../images/antenna.png') no-repeat center; 
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block:nth-child(2) {
  padding-top: 120px;
  position: relative; 
}

.about-block:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  height: 120px;
  background: #F5F4FA url('../images/clock.png') no-repeat center; 
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block:nth-child(3) {
  padding-top: 120px;
  position: relative;
}

.about-block:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  height: 120px;
  background: #F5F4FA url('../images/diagram.png') no-repeat center; 
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block:nth-child(4) {
  padding-top: 120px;
  position: relative; 
}

.about-block:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 270px;
  height: 120px;
  background: #F5F4FA url('../images/astronaut.png') no-repeat center; 
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-block > h3 {
  padding-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-block > p {
  color: #757575;
  margin-top: 10px;
}

/* DO */
.do {
  background: #ffffff;
  padding: 54px 0 94px;
}

.do-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.do-image {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.do-image-item {
  flex: 1 1 30%;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.do-image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.do-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 27px 100px;
  color: #ffffff;
  font-weight: 700;
  background: rgba(47, 48, 58, 80%);
  text-align: center;
  text-transform: uppercase;
}

/* TEAMS */
.team {
  background: #f5f4fa;
  padding: 94px 0;
  text-align: center;
}

.team-title,
.customers-title{
  font-weight: 700;
  font-size: 36px;
}

.team-cards,
.portfolio-cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card,
.portfolio-card {
  flex: 1 1 20%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 14px 0 #ccc;
}

.team-card-link {
  display: block;
  height: 260px;
}

.team-card-link img,
.portfolio-card-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card-inner {
  padding: 30px;
  font-size: 16px;
  background: #fff;
}

.team-card-title {
  font-weight: 500;
}

.team-card-desc {
  color: #757575;
  margin-top: 10px;
}

.list-icons,
.footer-icons {
  display:flex;
  gap:10px;
  padding-top: 16px;
}

.list-icons a {
  color: #AFB1B8;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  padding: 12px;
}

.list-icons a:hover {
  color: #FFFFFF;
  border-radius: 50%;
  background: var(--brand-color);
  transition: 0.4s;
  transform: scale(1.1);
}

.list-icons svg{
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* CUSTOMERS */
.customers {
  padding: 94px 0;
}

.customers-title {
  text-align: center;
}

.customers-icons {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}

.customers-icons a {
  color: #AFB1B8;
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 5px;
  padding: 16px 32px;
}

.customers-icons a:hover {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
  transition: 0.4s;
  transform: scale(1.1);
}

.customers-icons svg{
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* FOOTER */
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-container {
  display: flex;
  gap: 130px;
}

.footer-logo {
  display: inline-block;
}

.footer-menu {
  display: flex;
  flex-flow: column;
  gap: 9px;
  align-items: flex-start;
}

.footer-menu > p {
  color: #ffffff;
  margin: 20px 0 0;
}

.footer-menu > a {
  display: block;
  text-decoration: none;
  color: #ffffff99;
}

.footer-menu > a:hover {
  color: var(--brand-color);
}

.footer-social {
  margin-top: 12px;
}

.footer-icons {
  padding-top: 20px;
} 

.footer-social h3 {
  text-transform: uppercase;
  font-weight: 700;
  size: 14px;
  color: #FFFFFF;
}

.footer-icons a {
  color: #FFFFFF;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
}

.footer-icons a:hover {
  color: #FFFFFF;
  border-radius: 50%;
  background: var(--brand-color);
  transition: 0.4s;
  transform: scale(1.1);
}

.footer-icons svg{
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* POTFOLIO */
.portfolio-main {
  padding: 94px 0;
}

.portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
}

.portfolio-menu a {
  padding: 6px 25px;
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-menu a:hover {
  color: #ffffff;
  background: var(--brand-color);
}

/* Portfolio-cards */

.portfolio-card {
  flex: 1 1 30%;
}

.portfolio-card-link {
  position: relative;
  display: block;
  height: 294px;
}

.portfolio-card-overlay {
  position: absolute;
  display: none;
  inset: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.portfolio-card:hover .portfolio-card-overlay {
  display: flex;
}

.portfolio-card-inner {
  padding: 20px 24px;
  background: #fff;
}

.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
}

.portfolio-card-desc {
  color: #757575;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400px;
}
