@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--brand-color: #2196F3;
}

/* GLOBAL CLASSES */

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	color: #212121;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */

.header {
	border: 1px solid #ECECEC;
	padding: 25px 0;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

/* .header-logo {} */

.header-menu {
	display: flex;
	gap: 50px;
	margin-left: 90px;
}

.header-menu a.active {
	color: var(--brand-color);
}

.header-second-menu {
	margin-left: auto;
	display: flex;
	gap: 50px;
}

.header-menu a,
.header-second-menu a,
.portfolio-menu a {
	color: #212121;
	text-decoration: none;
}

.header-menu a:hover,
.header-second-menu a:hover {
	color: var(--brand-color);
}


/* HERO SECTION */

.hero {
	background: #2F303A;
	text-align: center;
}

.hero-inner {
	max-width: 700px;
	min-height: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
}

.hero-btn {
	padding: 14px 46px 15px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	background: var(--brand-color);
	border-radius: 4px;
	cursor: pointer;
	align-self: center;
}


/* ABOUT */

.about {
	background: #FFFFFF;
	padding: 94px 0 40px;
}

.about>.container {
	display: flex;
	gap: 30px;
}

.about-block {
	flex: 1 1 25%;
}

.about-block>h3 {
	font-weight: 700;
	text-transform: uppercase;
}

.about-block>p {
	color: #757575;
	line-height: 1.7;
	margin-top: 10px;
}

/* DO */
.do {
	background: #FFFFFF;
	padding: 54px 0 94px;

}

.do-title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
}

.do-image {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.do-image-item {
	flex: 1 1 30%;
	height: 294px;
	overflow: hidden;
}

.do-image-item img {
	width: 100%;
	height: 100%; 
	object-fit: cover;
	display: block;
}


/* TEAMS */
.team {
	background: #F5F4FA;
	padding: 94px 0;
	text-align: center;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
}

.team-cards,
.portfolio-cards {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-card,
.portfolio-card {
	flex: 1 1 20%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 14px 0 #ccc;
}

.team-card-link {
	display: block;
	height: 260px;
}

.team-card-link img,
.portfolio-card-link img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-card-inner {
	padding: 30px;
	font-size: 16px;
	background: #fff;
}

.team-card-title {
	font-weight: 500;
}

.team-card-desc {
	color: #757575;
	margin-top: 10px;
}

/* FOOTER */
.footer {
	background: #2F303A;
	padding: 60px 0;
}

.footer-logo {
	display: inline-block;
}

.footer-menu {
	display: flex;
	flex-flow: column;
	gap: 9px;
	align-items: flex-start;
}

.footer-menu>p {
	color: #FFFFFF;
	margin: 20px 0 0;
}

.footer-menu>a{
	display: block;
	text-decoration: none;
	color: #FFFFFF99;
}

.footer-menu>a:hover {
	color: var(--brand-color)
}



/* POTFOLIO */
.portfolio-main {
	padding: 94px 0;
}

.portfolio-menu {
	display: flex;
	justify-content: center;
	gap: 8px;
	font-weight: 500;
	font-size: 16px;
}

.portfolio-menu a {
	padding: 6px 25px;
	background: #F5F4FA;
}

.portfolio-menu a:hover {
	color: #FFFFFF;
	background: var(--brand-color);
}

/* Portfolio-cards */

.portfolio-card {
	flex: 1 1 30%;
}

.portfolio-card-link {
	display: block;
	height: 294px;
}

.portfolio-card-inner {
	padding:  20px 24px;
	background: #fff;
}

.portfolio-card-title {
	font-weight: 700;
	font-size: 18px;
}

.portfolio-card-desc {
	color: #757575;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400px;
}